<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5 " id="exampleModalLabel" style="color: white;">Silme işlemi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black; font-weight: 700;">
                Gönderiyi silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <form action="{% url 'delete' model.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Evet</button>
                </form>
            </div>
        </div>
    </div>
</div>