.like-icon.active {
    color: blue; 
}

.dislike-icon.active {
    color: red; 
}



.hover {
    text-decoration: none;
    color: white;
}

.hover:hover {
    text-decoration: none;
    color: #28a745;
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
