{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devace-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{% static 'image/my.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block css_file %}{% endblock %}
    <title>MY.com | {% block title %}{% endblock %}</title>
</head>

<body class="bg-dark">
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block js_file %}{% endblock %}
</body>

</html>