{% extends 'base.html' %}
{% load static %}

{% block css_file %}<link rel="stylesheet" href="{% static 'css/post_blog.css' %}">{% endblock %}

{% block title %} Post_oluştur {% endblock %}

{% block content %}

{% include 'partials/_navbar.html' %}

<div class="container">
    <form action="{% url 'create_post_url' %}" method="POST" name="post_form">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <input class="btn btn-outline-success btn-lg" type="submit" value="post oluştur">
        </div>
    </form>
</div>


{% endblock %}