{% extends 'base.html' %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}

{% block title %}Ana_Sayfa{% endblock %}


{% block content %}

{% include 'partials/_navbar.html' %}

<hr color="green" size="5">

<div class="container">
    <div class="row">
        <div class="col">

            {% if post_model|length > 0 %}
            {% for model in post_model %}

            <div class="card">
                <div class="card-header"> {{ model.author }} kişisi tarafından gönderildi </div>
                <div class="card-body d-flex align-items-center">
                    <h5 class="flex-grow-1">{{ model.title }}</h5>

                    <div class="btn-group">

                        <form action="{% url 'post_details' model.id model.slug %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-outline-primary" type="submit" value="İncele">
                        </form>

                        {% if user.is_authenticated and user == model.author %}
                        <form action="{% url 'edit_post' model.slug %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-outline-success" type="submit" value="Güncelle">
                        </form>


                        <div>
                            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Sil</button>

                            {% include 'partials/_deleteBtn_modal.html' %}
                        </div>
                        {% endif %}


                    </div>

                </div>
                <div class="card-footer">
                    {{ model.publish_date }}


                    <span class="like-count" style="font-size: 25px;">0</span>
                    <i id="likeIcon" onclick="toggleLike(this)" class="fa fa-thumbs-up like-icon" name='likebtn'
                        style="font-size: 25px;"></i>

                    <span class="dislike-count" style="font-size: 25px;">0</span>
                    <i id="dislikeIcon" onclick="toggleDislike(this)" class="fa fa-thumbs-down dislike-icon"
                        style="font-size: 25px;" type='button'></i>
                </div>
            </div>
            <br>

            {% endfor %}
            {% else %}


            <div class="alert alert-muted" role="alert" style="text-align: center; font-weight: 600; color: white;">
                Şuan için bir gönderi yok !</div>


            {% endif %}

            <div class="pagination">
                {% if post_model.has_previous %}
                <a class="btn btn-outline-light btn-lg previous" href="?page={{ post_model.previous_page_number }}">&lt
                    Önceki</a>
                {% endif %}
        
                <span class="current-page">{{ post_model.number }}</span>
        
                {% if post_model.has_next %}
                <a class="btn btn-outline-light btn-lg next" href="?page={{ post_model.next_page_number }}">Sonraki &gt</a>
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% block js_file %}
<script src="{% static 'js/home.js' %}"></script> {% endblock %}
{% endblock %}